body{
    margin: 0%;
    padding: 0%;
    background-origin: padding-box;
    height: 100%;
    width: 100%;
    /* background-color: rgb(37, 47, 54); */
    background-color: #212121;

    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}